<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <title>Food.ly</title>
   </head>

   <body>
        <img src="{{ url_for('static', filename='background.jpg') }}" alt="Image of pasta.">
        <h1>Food<span>.</span>ly</h1>

        <div>
            <input type="text" id="search" placeholder="Recipe Name..."/>
            <a onclick="redirect()"> <i class="fas fa-search"></i> </a>
        </div>
   </body>

   <script>
        function redirect() {
             domain = window.location.href;
             search = '/../search/'
             recipe = document.getElementById('search').value;
 
             window.location = domain + search + recipe;
        }
    </script>
</html>